/* custome-css */

body {
    background-color: #52B788;
}

/* homepage styling */
.btn1 {
    /* text-align: center; */
    background-color: #d8d5d5;
    /* padding: 0.5em; */
    border-radius: 0.5em;
  
    border-width: 1 px;

    width: 15em;

    padding: 1em;
}

/* donor landing screen styling */


/* collector landing screen styling */


/* Thabo and Jessie Page (home-page-tj) */
.block {
    display: inline-block;
    width: 140px;
    height: 180px;
    background-color: lightgray;
    border-radius: 0.5em;
    margin: 10px;
  }
 .wrapper{
     display: flex;
 }
 
 /* Mr Khuzwayo Home Page Styling */

 /* Mr Khuzwayo To be collected Page Styling */
 .tbc{
     border: solid black;
     border-radius: 2em;
 }