/* custome-css */

body {
    background-color: #52B788;
}

/* homepage styling */
.btn1 {
  background-color: #d8d5d5;
  border-radius: 0.5em;
  border-width: 4px;
  width: 200px;
  height: 40px;  
}

/* donor landing screen styling */

/* collector landing screen styling */

/* Thabo and Jessie Page (home-page-tj) */
.block {
    display: inline-block;
    width: 140px;
    height: 180px;
    background-color: lightgray;
    border-radius: 0.5em;
    margin: 10px;
  }
.nav {
  position:fixed;
  bottom:0;
  width: 100%;
  height: 55px;
  box-shadow: 0, 0, 3px rgba(0, 0, 0, 0.2);
  background-color: #555;
  display: flex;
  overflow-x: auto;
}
.nav__link{
  display: flex;
  flex-direction:column; 
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  min-width: 50px;
  overflow: hidden;
  white-space: nowrap;
  font-family: sans-serif;
  font-size: 13px;
  color: #78fdbf;
  text-decoration:none;
  -webkit-tap-highlight-color:transparent;
  transition: background-color 0.1s ease-in-out;
}
.nav__link:hover{
  background-color:#52B788 ;
}
.active{
  background-color: #52B788;
}
.nav_icon{
  font-size: 12px;
  color: white;
}
.nav__text{
  color: white;
}
.btn2 {
  background-color: #d8d5d5;
  border-radius: 0.5em;
  border-width: 4px;
  width: 150px;
  height: 40px;  
}
.block2 {
  display: inline-block;
  width: 300px;
  height: 350px;
  background-color: lightgray;
  border-radius: 50%;
  margin: 10px;
}
.limit{
  word-wrap: break-word;
  padding: 0.5em;
}
.welcome{
  text-align: center;
  font-weight: bold;
}
/* Deport Manager */
.navbr {
  /* width: 100%; */
  background-color: #555;
  overflow: auto;
  
}

/* Navigation links */
.navbr a {
  float: left;
  padding: 18px;
  color: black;
  text-decoration: none;
  font-size: 13px;
  width: 10%; 
  text-align: center;
  font-weight: 900;
}

/* Add a background color on mouse-over */
.navbr a:hover {
  background-color: #04AA6D;
}

/* Style the current/active link */
.navbr a.active {
  background-color: #E2BB57;
}


@media screen and (max-width: 500px) {
  .navbr a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
}
.block0 {
  display: inline-block;
  width: 98%;
  height: 80px;
  background-color: lightgray;
  border-radius: 0.5em;
  margin: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  position: absolute;
  background-color: rgb(131, 180, 131);
  border-width: 3px;
}

.custom-select{
  padding: 1em;
  margin: 15px;
  background-color: #C4EFA1;
  border-radius: 3.5px;
}
 .wrapper{
     display: flex;
 }
 
 /* Mr Khuzwayo Home Page Styling */

 /* Mr Khuzwayo To be collected Page Styling */
 .outer{
     background-color: aliceblue;
     border: solid black;
     border-radius: 1em;
     width: 350px;
     text-align: left;
     float: left;    
 }
  
 .tbc-container{
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .tbc-box{
     border: solid #2a9d8f;
     border-radius:1.5em;
     width: 400px;
     background-color: #2a9d8f;
 }

 .details{
     flex-basis: 70%;
     text-align: justify;
 }

 .kilos{
    padding-left: 20%;
 }

 .inner{
    background-color: #b7e4c7;
    border: solid #b7e4c7;
    border-radius: 0.5em;
    text-align: center;
    padding: 1.5%;
    width: 75px;
 } 

