<div class="row">
    <div class="col-12 center"><a href="/select-waste-bin"></a>
        <div class="block2 limit">
            <p>Thank you Thabo!</p><img src="images/esmartbin.png" width="200">
            <p>A collector is on the way</p>
        </div>
    </div>
<div>