<h1>Bin Admin Simulation</h1>
<div>
    <h2>Fill Bins</h2>
    <form action="/bin-admin/fill-bin" method="post">
    <input type="submit" value="Simulate filling bin">
    </form>
</div>

<div>
    <h2>Pole Bins</h2>
    <form action="/bin-admin/pole-bin" method="post">
    <input type="submit" value="Simulate pole bin">
    </form>
</div>

<div>
    <h2>Reset</h2>
    <form action="/bin-admin/reset" method="post">
    <input type="submit" value="Reset Simulation">
    </form>
</div>