<div>
    <div class="row">
        <div class="col-12 center">
            <h1>eSmart</h1>
             <h5><i>one man's trash is an man's opportunity</i></h5>
        </div>
    </div>

    <div class="row">
        <div class="col-12 center"> <a href="/home-page-khuzwayo">
        <img src="images/esmartbin.png" width="200">
        </a> 
        </div>
    </div>

    <div class="row">
        <div class="col-12 center">
            <h3>Waste Collector</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-12 center">
            <h6>powered by eSmart developers cc</h6>
        </div>
    </div>
</div>