<div class="body1">
    <div class="row">
        <div class="col-12">
            <h1>eSmart</h1>
            <h4>one man's trash is an man's opportunity</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <img src="images/esmartbin.png" width="200">
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h3>Waste Donor</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h6>powered by eSmart developers cc</h6>
        </div>
    </div>
</div>