<div class="container">
    <div class="row">
        <div class="col-12 second">
            <h1>eSmart</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12 center">
            <img src="/images/esmartbin.png" class="img1">
        </div>

    </div>

    <div class="row center">
        <div class="col-4 first"><a href="/donor-landing-screen"> <button class="btn1"> Waste Donor
                </button></a></div>
        <div class="col-4 first"><button class="btn1">
                eSmart Collector
            </button></div>
        <div class="col-4 first"><button class="btn1">
                Deport Manager
            </button></div>

        <div class="container">
        <button class="skewBtn purple">Hello!</button>
        </div>
        
    </div>
</div>