<div class="row">
    <div class="col-6">
        <img src="/images/esmartbin.png" width="50" style="float: left;">
        <h3>Welcome to eSmart solutions Patrick Khuzwayo</h3>
    </div>
</div>

<div class="row">
    <div class="col-12 center"><h2>Ready for Collection</h2></div>
</div>

<div class="tbc-container row center tbc-box">
        <div class="details">
            <h3>Donor: Pretty Lebuwa</h3>
            <h4>Address: 30 Rivionia Rd</h4>
            <h4>Suburb: MooiKloof, 2196</h4>
            <h4>Waste: General Waste</h4>
        </div>
        <div class="Kilo inner">
            <h3>10 Km</h3>
        </div>
</div>

<div class="row">
    <div class="col-12">
    </div>
</div>

<div class="tbc-container row center tbc-box">
        <div class="details">
            <h3>Donor: Pretty Lebuwa</h3>
            <h4>Address: 30 Rivionia Rd</h4>
            <h4>Suburb: MooiKloof, 2196</h4>
            <h4>Waste: General Waste</h4>
        </div>
        <div class="Kilo inner">
            <h3>15 Km</h3>
        </div>
</div>

<div class="row">
    <div class="col-12">
    </div>
</div>

<div class="tbc-container row center tbc-box">
        <div class="details">
            <h3>Donor: Pretty Lebuwa</h3>
            <h4>Address: 30 Rivionia Rd</h4>
            <h4>Suburb: MooiKloof, 2196</h4>
            <h4>Waste: General Waste</h4>
        </div>
        <div class="Kilo inner">
            <h3>25 Km</h3>
        </div>
</div>

<div class="row">
    <div class="col-12">
        <a href="#"> Home</a>
        <a href="/to-be-collected"><i><img src="images/esmartbin.png" width="50" ></i>Notifications</a>
        <a href="#">Support</a>
        <a href="#">Profile</a>
    </div>
</div>