<div class="container">
    <div class="row center">
        <div>
            <p><i> One's man trash is another mans's opportunity</i></p>
        </div>
        <div class="col-12 center">
            <h1>eSmart</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12 center">
            <img src="/images/esmartbin.png" width="200">
        </div>

    </div>

    <div class="row">
        <div class="col-12"></div>
    </div>
    <div class="row center">
        <div class="col-4"><a href="/waste/donor/signin"><button class="btn1"> Waste Donor
                </button></a></div>
        <div class="col-4"><a href="/waste/collector/signin"><button class="btn1">
                    Waste Collector
                </button></a></div>
        <div class="col-4"><a href="/depot-landing-screen"><button class="btn1">
                    Deport Manager
                </button></a></div>

    </div>
</div>