<div class="row">
    <div class="col-12 center">
        <img src="images/esmartbin.png" width="50" style="float: left;">
        <div class="slogan" style="float:left;">
            <p><i>One mans's trash is another man's opportunity</i> </p>
        </div>
    </div>
    <div class="welcome">Welcome to eSmart solutions Karen</div>
</div>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">




<div class="row">
    <div class="navbr">
        <a href="#">ABout eSmart</a>
        <a href="#">Contact us</a>
        <a class="active" href="#">Collector Activity</a>
        <a href="#">Depot Bin Monitoring</a>
        <a href="#">Truck list</a>
        <a href="#">News</a>
    </div>
    <div class="navv">
        <div class="block0">
            <span >
                <select class="custom-select">
                    <option value="0">Depot Station</option>
                    <option value="1">Mooi center</option>
                    <option value="2">Sandton center</option>
                    <option value="3">Rosebank center</option>
                </select>

            </span>
            <span >
                <select class="custom-select">
                    <option value="0">Collector_names</option>
                    <option value="1">Musa Khoza</option>
                    <option value="2">Samuel Dlhamini</option>
                    <option value="3">Jerry Naidoo</option>
                </select>
            </span>
            <span>
                <select class="custom-select">
                    <option value="0">Weight deopsited(kg)</option>
                    <option value="1">19,5kg</option>
                    <option value="2">19.4kg</option>
                    <option value="3">19.1kg</option>
                </select>
            </span>
            <span >
                <select class="custom-select">
                    <option value="0">waste type</option>
                    <option value="1">Plastic</option>
                    <option value="2">General</option>
                    <option value="3">Glass</option>
                </select>
            </span>
            <span>
                <select class="custom-select">
                    <option value="0">Date</option>
                    <option value="1">2021-06-13</option>
                    <option value="2">2021-06-14</option>
                    <option value="3">2021-06-15</option>
                </select>
            </span>
            
            <span>
                <select class="custom-select">
                    <option value="0">status</option>
                    <option value="1">collected</option>
                    <option value="2">collected</option>
                    <option value="3">collected</option>
                </select>
            </span>

        </div>
    </div>
</div>