{{!-- <h3>This is Thabo and Jessie</h3> --}}


<div>
    <div class="row">
        <div class="col-12">
            <img src="images/esmartbin.png" width="50" <h3>Welcome to eSmart solutions Thabo Khumalo</h3>

        </div>
    </div>
 <div class="row">
        <div class="col-12"></div>
        <div class="col-12"></div>
        <div class="col-12"></div>
        <div class="col-12"></div>
        <div class="col-12"></div>
        <div class="col-12"></div>
    </div>

    <div class="row">
        <div class="col-12 center"><a href="/select-waste-bin">
            <div class="block"><p>General 100%</p><img src="images/esmartbin.png" width="100"></a></div>
            <div class="block"><p>Plastic 80%</p><img src="images/esmartbin.png" width="100"></div>
            <div class="block"><p>Metal Cans 50%</p><img src="images/esmartbin.png" width="100"></div>
            <div class="block"><p>Glass 25%</p><img src="images/esmartbin.png" width="100"></div>
        </div>
    </div>
</div>


