
<div class= "body">
<div class="row">
    <div class="col-12 second">
        <h1>eSmart</h1>
    </div>
</div>

<div class="row">
    {{!-- <div class="col-12"> --}}
        <img src="/images/esmartbin.png" width="500" class="img1">
    {{!-- </div> --}}
  
</div>

<div class="row">
    <div class="col-4 first"><button type="submit" class="btn1">
            <h3>Waste Donor</h3>
        </button></div>
    <div class="col-4 first"><button type="submit" class="btn1">
            <h3>eSmart Collector</h3>
        </button></div>
    <div class="col-4 first"><button type="submit" class="btn1">
            <h3>Deport Manager</h3>
        </button></div>
</div>
</div>

