<div class="row">
    <div class="col-6">
        <img src="/images/esmartbin.png" width="50" style="float: left;">
        <h3>Welcome to eSmart solutions Patrick Khuzwayo</h3>
    </div>
</div>

<div class="row">
    <div class="col-12 center"><h2>Ready for Collection</h2></div>
</div>

<div class="row">
        <div class="col-12"></div>
        <div class="col-12"></div>
        <div class="col-12"></div>
        <div class="col-12"></div>
        <div class="col-12"></div>
        <div class="col-12"></div>
</div>

<div class="row">
    <div class="col-12">
        <a href="#"> Home</a>
        <a href="/to-be-collected"><i><img src="images/esmartbin.png" width="50" ></i>Notifications</a>
        <a href="#">Support</a>
        <a href="#">Profile</a>
    </div>
</div>